<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	
	<title>ХабЦветТорг</title>
	<meta name="description" content="" />
	<meta name="Keywords" content="" /> 
	<meta name="robots" content="index, follow" />

	<meta property="og:title" content="" /> 
	<meta property="og:description" content="" />
	<meta name="og:locale" content="ru_RU">
    <meta property="og:image" content="{% static 'web/img/meta-logo.png' %}" />

	<link rel="canonical" href="" />
	<link rel="shortcut icon" href="{% static 'web/img/favicon.ico' %}" type="image/x-icon">
	

	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">




	
	
	
</head>
<body>
	{% block content %}
	{% include 'include/nav.html' %}
	<section class="wrapper">
		<div class="page-info">
			<a href="/">Главная</a> > Контакты
			<h1>Контакты</h1>
		</div>

		<div class="contacts__container">
			<div class="contacts_info">
				<div class="contacts_info_el">
					<h2>Пункт выполнения заказов</h2>
					<a href="#">г. Хабаровск, ул. Шевчука, д. 28/2</a>
				</div>
				<div class="contacts_info_el">
					<h2>График гарботы</h2>
					Пн-Вс 9:00 - 19:00
				</div>
				<div class="contacts_info_el">
					<h2>Телефон</h2>
					<a href="tel:84212944988">+7 (4212) 944-988</a>
				</div>
				<div class="contacts_info_el">
					<h2>Почта</h2>
					<a href="mailto:contact@habcvettorg.ru">contact@habcvettorg.ru</a>
				</div>
				<div class="contacts_info_el">
					<h2>Соцсети</h2>
					<a href="#" class="contacts_info_el_social">
						<img src="{% static 'web/img/icons/whatsapp.svg' %}" alt=" ">
						+7 (000) 000-00-00
					</a>
					<a href="#" class="contacts_info_el_social">
						<img src="{% static 'web/img/icons/vk.svg' %}" alt=" ">
						habcvettorg
					</a>
					<a href="#" class="contacts_info_el_social">
						<img src="{% static 'web/img/icons/telegram.svg' %}" alt=" ">
						habcvettorg
					</a>
				</div>
			</div>
			<div class="contacts_map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af3981d2bea91c3ea434286ebf858acfed3e2b3749678d643c73b47e0c50f3acb&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
			</div>
		</div>

		<div class="contacts_branch__block">
			<h2>Наши магазины</h2>
			<div class="contacts_branch__container">

				{% for Shop in Shops %}
				<div class="contacts_branch_el">
					<div>
						<h3>Адрес</h3>
						{{Shop.Address}}
					</div>
					<div>
						<h3>График работы</h3>
						{{Shop.Schedule}}
					</div>
					<div>
						<h3>Телефон</h3>
						{{Shop.Phone}}
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
		
		
		
	</section>
	{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>