<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	
	<title>ХабЦветТорг</title>
	<meta name="description" content="" />
	<meta name="Keywords" content="" /> 
	<meta name="robots" content="index, follow" />

	<meta property="og:title" content="" /> 
	<meta property="og:description" content="" />
	<meta name="og:locale" content="ru_RU">
    <meta property="og:image" content="{% static 'web/img/meta-logo.png' %}" />

	<link rel="canonical" href="" />
	<link rel="shortcut icon" href="{% static 'web/img/favicon.ico' %}" type="image/x-icon">
	
	<link rel="stylesheet" href="{% static 'web/splide/dist/css/splide.min.css' %}">
	<script src="{% static 'web/splide/dist/js/splide.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">

	
	
</head>
<body>
	{% block content %}
	{% include 'include/nav.html' %}
	<section class="wrapper">
		<div class="page-info">
			<a href="/">Главная</a> > <a href="/catalog">Каталог</a> > {{Category.Name}}
			<h1>{{Category.Name}}</h1>
		</div>


		
		<div class="product-list__container">



			<div class="card__container">
				{% for Product in Products %}
					{% include 'include/product.html' %}
				{% endfor %}
			</div>
			
			
		</div>
	</section>
	{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>